{#
/**
 * @file
 * Theme override for displaying a username.
 *
 * Available variables:
 * - account: The full account information for the user.
 * - uid: The user ID, or zero if not a user. As used in anonymous comments.
 * - name: The user's name, sanitized, and optionally truncated.
 * - name_raw: The user's name, un-truncated.
 * - truncated: Whether the user's name was truncated.
 * - extra: Additional text to append to the user's name, sanitized.
 * - profile_access: Whether the current user has permission to access this
     users profile page.
 * - link_path: The path or URL of the user's profile page, home page,
 *   or other desired page to link to for more information about the user.
 * - homepage: (optional) The home page of the account, only set for non users.
 * - link_options: Options to set on the \Drupal\Core\Url object if linking the
 *   user's name to the user's page.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_username()
 */
#}
{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  <{{ field_wrapper_tag }}{{ attributes.addClass(classes) }}>
    {{ name }}{{ extra }}
  </{{ field_wrapper_tag }}>
{% else %}
  <{{ field_wrapper_tag }}{{ attributes.addClass(classes) }}>
    <{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ label_tag|default('div') }}>
    <{{ field_item_wrapper_tag }}{{ attributes }}>{{ name }}{{ extra }}</{{ field_item_wrapper_tag }}>
  </{{ field_wrapper_tag }}>
{% endif %}
{#{% if link_path -%}#}
{#   <{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{{ label }}:</{{ label_tag|default('div') }}>#}
{#  <a{{ attributes }}>#}
{#    {{ name }}{{ extra }}#}
{#  </a>#}
{#{%- else -%}#}
{#  <span{{ attributes }}>#}
{#     <{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ label_tag|default('div') }}>#}
{#    {{ name }}{{ extra }}#}
{#  </span>#}
{#{%- endif -%}#}
